body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

/* heading of all carousels */
.heading {
  color: #888888;
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

/* Cards and Swiper Start */
.swiper-container {
  width: 100%;
  height: 200px;
  padding: 25px 10px;
  margin: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* on hover text div */
.movieDetails {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.swiper-slide:hover img {
  opacity: 0.4;
}
.swiper-slide:hover .movieDetails {
  opacity: 1;
}
.movieDetails a img {
  width: 40px !important;
  padding: 0;
  margin: auto;
}

.swiper-slide:hover {
  color: aliceblue;
  z-index: 10;
  transform: scale(1.5);
  box-shadow: 0px 5px 10px 8px #888888;
}

.swiper-container {
  margin-bottom: 50px;
  border-bottom: #222 solid 12px;
}
/* Swiper and Card end */

/* Jumbotron */
.jumbotron {
  height: 80vh;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/8ed3a98a-e2c2-488d-9583-93634199485d/IN-en-20210502-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
      no-repeat fixed;
  background-size: cover;
  border-bottom: #222 solid 12px;
}

.jumbotron h1 {
  font-size: 4.5rem;
}
/* Jumbotron end */

/* Footer Start */
.footer {
  background-color: black;
  color: #888888;
  line-height: 35px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer a {
  text-decoration: none;
  color: #888888;
}
.footer p {
  color: #888888;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 5px;
}

.footer .col-md-3 li {
  padding: 5px;
  font-size: 1.1rem;
}
/* Footer End */

/* like icon on Movie slide */
.add-fav {
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 5%;
  transition: all 0.5s ease;
  display: none;
}
.add-fav .icon-heart {
  font-size: 24px;
  color: #888;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.add-fav input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.add-fav input[type="checkbox"]:checked + .icon-heart {
  color: red;
}
.swiper-slide:hover .add-fav {
  display: inline-block;
}

/* like icon closed */

/* information sections */
.section1,
.section2 {
  border-bottom: #222 solid 12px;
  color: aliceblue;
}

.section1 img,
.section2 img {
  height: 28rem;
  width: 28rem;
  padding: 10px;
}

.section1 p,
.section2 p {
  font-size: 2rem;
}
/* section end */

/* ************************************************************************************************************** */
/* Media Queries */
@media only screen and (max-width: 768px) {
  .section1 img,
  .section2 img {
    height: 22rem;
    width: 22rem;
    padding: 5px;
  }
}
